@import url(https://fonts.googleapis.com/css?family=Barrio);
@import url(https://fonts.googleapis.com/css?family=Nunito);
@import url(https://fonts.googleapis.com/css?family=Spartan);
@import url(https://fonts.googleapis.com/css?family=Quicksand);
@import url(https://fonts.googleapis.com/css?family=Poppins);
@import url(https://fonts.googleapis.com/css?family=Megrim);
@import url(https://fonts.googleapis.com/css?family=Balsamiq+Sans);

body {
    font-family: "Barrio";
    background-color: #ffdb64;
    text-align: center;
    padding-top: 1px;
}
/* The sidebar menu */

h1 {
  font-size: 80px;
  color: #ff0000 ;
  text-align: center;
}

h2 {
  font-size: 30px;
  font-family: "Nunito";
  color: black; 
}

nav {
  position: fixed;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  top: 0; /* Stay at the top */
  left: 0;
  /* background-color: rgb(0, 180, 255); Black */
}


/* The navigation menu links */
/* .nav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
} */


/* When you mouse over the navigation links, change their color */
/* .nav a:hover {
  color: #070707;
  font-size: 200%;
}

/*  */

/* Style page content */
main {
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 15px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .nav {padding-top: 15px;}
  .nav a {font-size: 18px;}
}

nav ul {
    list-style-type: none;
    font-family: "Spartan";
    margin: 0;
    padding: 0;
    width: 200px;
    height: 100%;
    position: fixed;
    background-color: #38a5ff;
  }
  
nav li a {
    display: block;
    color: #000;
    padding: 20px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
nav li a:hover {
    background-color: #555;
    color: white;
  }

nav .current {
    /* background-color: #ff0000; */
    border: 4px dotted black;
    font-weight: 900;
    color: White;
  
  } 

p {
    font-family: "Spartan";
    font-size: 24px;
    padding-top: 20px;
    text-align: right;
}
img {
    /*display: block;*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width:300px;
    }

/* START captions when hover over image code */
.container {
        position: relative;
        width: 50%;
      }
      
    .image {
        display: block;
        width: 100%;
        height: auto;
      }
      
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 80%;
        width: 80%;
        opacity: 0;
        transition: .5s ease;
        background-color: #ff0000;
      }
      
    .container:hover .overlay {
        opacity: .8;
      }
      
    .text {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
      }
/* END captions when hover over image code */

div {
    min-height: 150px;
    padding: 25px;
}
#intro {
    text-align: left;
}

footer p {
    text-align: right;
    font-size: 15px;
    padding: 0px 10px 10px 0px;
}

.container {
    align-items: flex-end;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    justify-content: center;
    align-items: center;
  }
  
  /* Create two equal columns that sits next to each other */
  .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }
